<h1 align="center">3 <u>easy</u> ways to reach us</h1>
<div class="row-fluid contactus">

    <div class="span4">
        <br>
        <a  href= "mailto:kika@myprimerealtor.com">
            <img  src="images/banners/email.png" alt=" email" >
            <h4 align="center">kika@myprimerealtor.com</h4>
        </a>
    </div>
    <div class="span4 socialsContact">
        <h3 align='center'>Social</h3>
        <a target="_blank" href="https://www.facebook.com/PrimerealtyNY" >  
            <img src="http://4.bp.blogspot.com/-hm09e6A3Ksk/UZ7VkrorrWI/AAAAAAAAAQI/xHgo2HSgWr4/s200/logo-facebook.jpg" alt="fb"> 
            <h4>facebook.com/PrimerealtyNY</h4>
        </a>
        <a target="_blank" href="https://www.twitter.com/PrimerealtyNY">
            <img src="http://www.msjc.edu/StudentServices/StudentGovernmentAssociation/District%20Committees%2020112012/twitter-logo.png" alt="twitter button">
            <h4>twitter.com/PrimerealtyNY</h4> </a>
        <a target="_blank" href="https://plus.google.com/112283031771769250218/posts">
            <img src="http://2.bp.blogspot.com/-PojguFRNBFE/UAVTiT86HoI/AAAAAAAAATQ/zsiT-8NYOyY/s320/google_plus_bloggiks.png" alt="google plus button">
            <h4>Google Plus</h4></a>


    </div>
    <div class="span4"> 

        <img class="contactM" src="images/banners/phone.png" alt="Phone" ><h4  align="center">718-229-2922</h4>
    </div>
</div> 
<h1 align="center">Visit Us</h1>
<div class="row-fluid">
    <div class="span6">
        <h3 align="center">Kew Gardens Office</h3>    
        <p align="center">81-69A Lefferts Blvd<br>
            Kew Gardens, NY 11415</p>
        <iframe class="maps" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Prime+Realty,+Lefferts+Boulevard,+Kew+Gardens,+Queens,+NY&amp;aq=0&amp;oq=prime+realty+kew+&amp;sll=40.697488,-73.979681&amp;sspn=0.565356,1.352692&amp;ie=UTF8&amp;hq=Prime+Realty,&amp;hnear=Lefferts+Blvd,+Queens,+New+York&amp;t=m&amp;ll=40.707656,-73.830787&amp;spn=0.006295,0.006295&amp;output=embed"></iframe> 
    </div>

    <div class="span6">
        <h3 align="center">Bayside Office</h3>    
        <p align="center">40-04 Bell Blvd <br>
            Bayside, NY 11361
        </p>
      <iframe class="maps" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?sll=40.697488099999994,-73.979681&amp;sspn=0.6249052764007793,1.87894411381089&amp;t=m&amp;q=40-04+Bell+Blvd++Bayside,+NY+11361&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;hnear=40-04+Bell+Blvd,+Queens,+New+York+11361&amp;ll=40.76409,-73.771551&amp;spn=0.008825,0.021136&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe> 
    </div>

</div>