<div class="row-fluid">
    <h1 align="center">Let us help sell your home, <u>faster</u></h1>
    <div class="jumbotron">
        <img  src="images/forsell.jpg"   alt="Featured"/>
    </div>
</div>
<br>
<br>
<div class="row-fluid " id="primeandyou">
    
    <div class="span6 offset6 youWords ">
        <h2>
            Prime Realty + <u>You</u>
        </h2>
        <p>
            <strong>
                Prime Realty has a history of helping ease the transition of selling homes for many families.            
                We not only supply you with the expertise to strategically position your property in the market, but also 
                provide the wisdom needed to sell your home for the highest possible price.
                Prime Realty will ensure that your home gets maximum exposure through newspapers, realtor magazines, Multiple Listing Services, local cable and the internet. 
                Prime Realty can also assist in all areas of your relocation. 
            </strong>
        </p>
    </div>

</div>



<br>
<br> 

<div class="row-fluid benefits">

    <div class="span6 offset6 youWords">
        <h2>
            Key <u>benefits</u> of working with Prime:
        </h2>
        <ul>
            <li>Personalized Experience</li>
            <li>Extreme lack of real estate worries</li>
            <li>Smooth transition of homes</li>
            <li>Frequent updates on progress</li>
            <li>The hottest tips for your new home</li>
            <li>Abundance of saved time</li>
        </ul>


    </div>

</div>
<br>
<br>

<div class="row-fluid contactM">

    <div class="span12"> 
            <img  src="images/startnow.jpg"   alt="Featured"/>
         

        <div id="getStarted" >
            <h1 align="center">How to get <u>Started</u>?</h1>
            <a  class="btn btn-large btn-success"  href="#/contact"  >Contact us to Begin</a>
        </div>
    </div>
</div>
<script>
    $('.benefits').css('background-image', "url('images/housy.jpg')");
    $('#primeandyou').css('background-image', "url('images/sell.jpg')");
</script>